# Pastas do PyInstaller (não precisam ir para o GitHub)
build/
dist/
*.spec

# Temporários do Python
__pycache__/
*.pyc

# Banco de dados local (para não sobrescrever seu banco de testes na nuvem)
*.db